@import "src/components/common/GlobalMixins/GlobalMixin";


.container {
  @include globalContainersWrapper;
  width: 540px;
  height: 370px;
  position: absolute;
  left: 460px;
  top: 25px;
  padding: 0;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;

  .header {
    height: 20px;
    border-bottom: 1px solid #dddddd;
    padding: 20px;
    color: black;
    .closeTheWindow {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: .5;
      margin-left: 375px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transition: 0.4s;
        opacity: 1;
      }
    }
  }
    .body {
      width: 505px;
      height: 190px;
      padding: 15px;
      .shareTextField {
        width: 100%;
        display: block;
        height: 190px;
        padding: 15px;
        position: relative;
        overflow: hidden;
        background-color: #fff;
        box-sizing: border-box;
        outline: 1px transparent;
        border: 1px solid #dddddd;

        // Отдельные стили для Field-а, который из redux-form
        line-height: inherit;
        resize: none;
        white-space: pre;
      }
    }
    .footer {
      position: relative;
      height: 100px;
      border-top: 1px solid #dddddd;
      .cancelBtn {
        @include redBtn;
        top: 28px;
        right: 115px;

      }
      .shareBtn {
        @include redBtn;
        top: 28px;
        right: 20px;
      }
    }

}

