@import "src/components/common/GlobalMixins/GlobalMixin";

.header {
    background-color: #fff;
    .container {
        width: 80%;
        padding-left: 8.8%;
        .mainMenu {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                @include li-navigation;
            }

            ul li .navLink {
                @include mainMenu-ul-li-navLink;
            }

            ul li:hover .navLink, ul li:active .navLink {
                color: #dc4734;
                transition: 0.4s;
            }

            .navLink:hover, .navLink:focus {
                outline: none;
                text-decoration: none;
            }

            .navLink {
                text-decoration: none;
            }
            .navUl {
                margin: 0;
                padding: 0;
            }
            nav {
                padding: 0 90px 0 36%;
            }
        }
        .button {
            @include redBtn;
            position: inherit;
            width: 120px;
        }
    }
}