@import "src/components/common/GlobalMixins/GlobalMixin";

@mixin body {
  color: #444444;
  line-height: 1.7;
  font-size: 14px;
  font-weight: 400;
  background-color: #f1f1f1;
  font-family: "Roboto", sans-serif;
}



.header {
  @include header;

  img {
    width: 50px;
  }
}

.container {
  @include headerContainer;
}

.mainMenu {
  li {
    @include li-navigation;
  }

  ul li .navLink {
    @include mainMenu-ul-li-navLink;
  }

  ul li:hover .navLink, ul li:active .navLink {
    color: #dc4734;
    transition: 0.4s;
  }

  .navLink:hover, .navLink:focus {
    outline: none;
    text-decoration: none;
  }

  .navLink {
    text-decoration: none;
  }

  .navUl {
    margin: 0;
    padding: 0;
  }
}


.logo {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.loginBlock {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.searchContainer {
  margin-right: 25px;
}

.topSearchBox {
  min-width: 250px;
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  display: flex;
}

.topSearchField {
  border: none;
  width: 100%;
  padding-right: 30px;
  background-color: transparent;
  outline:none;
}

.topSearchBtn {
  top: 0;
  right: 0;
  font-size: 20px;
  position: absolute;
  color: #333333;
}

.profileSettingBox {
  position: relative;
  width: 36px;
  height: 36px;
  .userPhoto {
    vertical-align: middle;
    border-style: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
  }

}

@media (min-width: 768px) {
  .mainMenu {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

@media (min-width: 768px) {
  .logo {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

@media (min-width: 768px) {
  .loginBlock {
    -ms-flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}


