.header {
    grid-area: h;
    background-color: cadetblue;
}

.header img {
    width: 50px;
}

.header:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}
.logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.loginBlock {
    float:right;
}
.loginBlock a {
    color: white;
}