// Переменная с цветом. Например, для всего фона сайта или для всех блоков.
$bgColor: #FCFEFF;


@mixin fontSize {
  font-size: 1.1em;
  font-weight: normal;
  font-family: Arial, sans-serif;
  // Переменная тоже может быть параметром миксина:
  color: $bgColor;
}


// Миксин с параметрами
@mixin link($link, $hover, $active, $visited) {
  a {
    color: $link;
  }
  link:hover {
    color: $hover;
  }
  link:active {
    color: $active;
  }
  link:visited {
    color: $visited;
  }
}

// Применение. Цвета можно передавать в любом формате.
@include link(red, green, blue, purple);

@import "src/components/common/GlobalMixins/GlobalMixin";

@mixin body {
  color: #444444;
  line-height: 1.7;
  font-size: 14px;
  font-weight: 400;
  background-color: #f1f1f1;
  font-family: "Roboto", sans-serif;
}

@mixin li-navigation {
  display: inline-block;
  margin-right: 60px;
  position: relative;
}

@mixin mainMenu-ul-li-navLink {
  color: #333333;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 21px 0;
  text-transform: capitalize;
}

.header {
  @include body;
  /*grid-area: h;*/
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);

  img {
    width: 50px;
  }
}

.container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.mainMenu {
  li {
    @include li-navigation;
  }

  ul li .navLink {
    @include mainMenu-ul-li-navLink;
  }

  ul li:hover .navLink, ul li:active .navLink {
    color: #dc4734;
    transition: 0.4s;
  }

  .navLink:hover, .navLink:focus {
    outline: none;
    text-decoration: none;
  }

  .navLink {
    text-decoration: none;
  }

  .navUl {
    margin: 0;
    padding: 0;
  }
}


.logo {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.loginBlock {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.searchContainer {
  margin-right: 25px;
}

.topSearchBox {
  min-width: 250px;
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  display: flex;
}

.topSearchField {
  border: none;
  width: 100%;
  padding-right: 30px;
  background-color: transparent;
  outline:none;
}

.topSearchBtn {
  top: 0;
  right: 0;
  font-size: 20px;
  position: absolute;
  color: #333333;
}

.profileSettingBox {
  position: relative;
  width: 36px;
  height: 36px;
  .userPhoto {
    vertical-align: middle;
    border-style: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
  }
  .hideDropdown {
    height: 0;
    visibility: hidden;
    transition: 0.4s;
  }
  .profileDropdown {
    width: 250px;
    height: 290px;
    transition: 0.4s;
    position: absolute;
    right: 0;
    @include globalContainersWrapper;
    margin-bottom: 0;
    padding: 0;
    overflow: auto;
    z-index: 1;
    border-radius: 0 0 2px 2px;
    .profileHead {

      ul {
        list-style-type: none;
        padding-left: 0;

        li {
          padding-left: 20px;
          cursor: pointer;
          &:hover {
            background-color: aliceblue;
          }
        }
      }
      .fullName {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        padding-bottom: 7px;
      }
      .email {

      }
    }

    .profileBody {
      .listAwesomeIcons {
        color: darkgrey;
      }

      ul {
        margin: 0;
        padding: 10px 0 10px 0;
        border-top: 1px solid #dddddd;
        list-style-type: none;

        li {
          padding-left: 20px;
          cursor: pointer;
          &:hover {
            background-color: aliceblue;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .mainMenu {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

@media (min-width: 768px) {
  .logo {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

@media (min-width: 768px) {
  .loginBlock {
    -ms-flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}


