

.formControl.error input,
.formControl.error textarea
{
    border: red 1px solid;
}

.formControl.error span
{
    color: #ff61dd;
}
.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: #ffa031;
}
