.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas: "h h" "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;

}

.app-wrapper-content {
    display: grid;
    grid-gap: 10px;
    grid-area: c;
    background-color: #BBCBDA;

    grid-template-areas: "hb" "a" "p";
    box-shadow: inset -1px -1px 1px 0 rgba(0,0,0,.5), inset 1px 1px 1px 0 rgba(255,255,255,0.5);
    padding: 30px;
}





