@import '../../common/GlobalMixins/GlobalMixin';



.container {
    @include globalContainersWrapper;
    .widgetTitle {
        @include widgetsTitle;
        //margin: 0;
        margin: -5px 0 15px 0;
    }
    height: 400px;
    .widgetBody {
        background-image: url('../../../assets/images/Advertise.jpg');
        width: 100%;
        height: 90%;
        background-size: cover;
        cursor: pointer;
    }
}