@mixin globalContainersWrapper {
  background-color: #fff;
  border: none;
  border-radius: 0;
  padding: 25px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 1px 15px 0 rgba(51, 51, 51, 0.2);
  box-shadow: 0 1px 15px 0 rgba(51, 51, 51, 0.2);
  a {
    color: #333333;
    text-decoration: none;
  }
}

@mixin globalBtnSet {
  border: none;
  outline: none;
  padding: 0;
  box-shadow: none;
  transition: 0.4s;
  background-color: transparent;
  cursor: pointer;
}

@mixin redBtn {
  width: 89px;
  height: 34px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  border: none;
  border-radius: 40px;
  background-color: #dc4734;
  cursor: pointer;
  position: absolute;
  color: #fff;
  outline: 1px transparent;
  transition: 0.4s;
  &:hover {
    background-color: rgb(74, 74, 74);
  }
}

@mixin widgetsTitle {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 45px;
  text-transform: capitalize;
  position: relative;
  &:hover, &:active {
    color: #dc4734;
    transition: 0.4s;
    cursor: pointer;
  }
  &:before {
    bottom: -4px;
    left: 0;
    width: 30px;
    height: 1px;
    content: "";
    position: absolute;
    background-color: #dc4734;
  }
}
@mixin body {
  color: #444444;
  line-height: 1.7;
  font-size: 14px;
  font-weight: 400;
  background-color: #f1f1f1;
  font-family: "Roboto", sans-serif;
}

// Apply in: Header.module.scss, ProfileHeader.module.scss
@mixin header {
  @include body;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

@mixin headerContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}
@mixin li-navigation {
  display: inline-block;
  margin-right: 60px;
  position: relative;
}

@mixin mainMenu-ul-li-navLink {
  color: #333333;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 21px 0;
  text-transform: capitalize;
}

//---------------------------------------------------------------------